.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:white;
	position: absolute;
  	top: 8px;
  	left: 16px
}

.header
{
	position: relative;
	margin-left: 15%;
	margin-right: 15%;
}

.head
{	
	text-align: center;
}

.logo
{	
	float: left;	
}

.content .image img
{	
	float: left;
	width: 250px;
	margin-right: 15px;
}

.content
{	
	position: relative;
	margin-left: 15%;
	margin-right: 15%;
	text-align: justify;
	clear: both;
	padding: 50px;
}
