/* Advertisement */
.advertisement {
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:white;
	position: absolute;
	left: 8px;
	top: 8px;
}
/* Header */
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5%;
	margin-bottom: 5%;
}
.logo {
	margin-right: 10px;
}
.logo img {
	width: 250px;
	height: 100px;
}
.title {
	margin-left: 100px;
}
/* Content */
.content {
	width: 70%;
	margin: 0 auto;
	padding: 2%;
	font-size: large;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content .image {
	float: left;
	padding-right: 15px;
	padding-bottom: 10px;
}
.content .image img {
	width: 250px;
}

.main {
	margin-top: 50px;
	font-size: larger;
	margin-left: 10px;
}

.head {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	margin-bottom: 110px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
.logo {
	float: none;
	margin-right: 0;
}

.logo img {
	width: 200px;
	height: 80px;
}

.title {
	margin-left: 20px;
}

.content .image {
	float: none;
	padding-right: 0;
}

.content .image img {
	width: 100%;
	height: auto;
}

.main {
	margin-top: 20px;
}

.head {
	margin-top: 20px;
	margin-bottom: 70px;
}
}
