/* Ahmet Mithat Demirkol - 19050111047 */
h2 {
  text-align: center;
  color: rgb(204, 195, 195);
  font-size: 36px; 
  margin-top: 50px; 
}

section {
  text-align: justify;
  color: rgb(0, 0, 0);
  font-size: 18px; 
  line-height: 1.6;
  margin: 40px 0;
}

#row {
  max-width: 1020px;
  margin: auto;
  display: flex; 
  flex-wrap: wrap; /* line to fit */
  justify-content: space-between; /* To separate items equidistantly */
}

.items {
  padding: 20px;
  width: 300px;
  margin-bottom: 40px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* box shade */
  border-radius: 10px; /* Edge rounding */
}

img {
  border-radius: 25px;
  height: 325px;
  width: 1200px;
}
